<p>Lista de Produtos</p>
<table border=1>
  <thead>
    <th>Nome</th>
    <th>Categoria</th>
    <th>Preço</th>
  </thead>
  <tbody>

    <% @products.each do |product| %>

      <tr>
        <td><%= product.name%></td>
        <td><%= product.category%></td>
        <td>R$<%= product.value%></td>

        <% if product.selected.zero? %>
          <td><%= link_to 'Selecionar Produto', product%></td>
          
        <% else %>
          <td>Produto selecionado<td>
          <td><%= button_to 'Cancelar seleção', product, :method => :put%></td>
        <% end %>

      </tr>

    <% end %>
    
  </tbody>
</table>
<%= button_to 'Lista de reserva', checkout_path, :method => :get %>