<%if Product.where(selected: 1).size.positive?%>
  <p>Finalizar Reserva</p>
  <table border=1>
    <thead>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Preço</th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name%></td>
          <td><%= product.category%></td>
          <td>R$<%= product.value%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to 'Finalizar reserva', checkout_finish_path, :method => :delete%>
<%else%>
  <p>Nenhum produto na lista de reserva!</p>
  <%= button_to 'Voltar', root_path, :method => :get%>
<%end%>
