<div class="container">
  <%= form_with model: @product do |f| %>
    <div class="form_area">
      <%= f.label 'Nome', :class => 'product_title'%>
      <%= f.text_field :name, :class => 'form'%>
    </div>
    <div class="form_area">
      <%= f.label 'Descrição', :class => 'product_title'%>
      <%= f.text_area :description%>
    </div>
    <div class="form_area">
      <%= f.label 'Categoria', :class => 'product_title'%>
      <%= f.text_field :category, :class => 'form'%>
    </div>
    <div class="form_area">
      <%= f.label 'Preço', :class => 'product_title'%>
      <%= f.number_field :value, step: 0.01, :class => 'form'%>
    </div>
    <%=f.submit 'Salvar', :class => 'select_button'%>
  <% end %>
</div>
